#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#header {
    margin-bottom:20px !important;
}

#pfp {
    max-width:100px;
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#fact-container {
  margin-top: 20px;
}
