#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#header {
    margin: 20px 0px;
}

#header-intro {
    margin-bottom: 2px;
}

#pfp {
    max-width: 100px;
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contacts i {
    margin-right:10px;
    color: #0d6efd;
}

#contacts i:hover {
    opacity: 0.5;
}

#fact-container {
  margin-top: 20px;
  color: #0d6efd;
}
